hist>=2.9
pyarrow>=22.0
awkward>=2.8
numpy>=2
uproot>=5.6
vector>=1.7
pandas
matplotlib
mplhep>=0.4
scipy>=1.15
hepunits
particle

# Execution
jupyter-book>=2.0.0
jupyter-server
ipykernel

# Editor
jupyterlab>=4.4
jupyterlab-myst
